.content {
    button {
        border-radius: 10px;
        height: 2.2rem;
        width: 9rem;
        border-color: #CB0C9F;
        color: #CB0C9F;
        transition: transform 0.3s;

        p {
            font-family: 'Open Sans', sans-serif;
        }

        &:hover {
            transform: scale(1.03);
            border-color: #e054bc;
            color: #e054bc;
        }
    }

    .profile:hover {
        z-index: 1;
    }
}