.container {
    mat-divider {
        margin-bottom: .7rem;
    }

    mat-icon {
        scale: .8;
        color: #999db5;
        transition: transform 0.2s ease;

        &.open {
            transform: rotate(180deg);
        }
    }

    .side-button {
        width: 85%;
    }
}