<aside class="container hidden lg:flex lg:flex-col lg:shadow-md lg:p-5 lg:h-dvh lg:w-72">
    <a class="flex gap-x-2 justify-center items-center p-6 cursor-pointer">
        <img class="object-cover w-8 h-8" ngSrc="assets/images/s1.png" width="200" height="200" alt="logo">
        <!-- TODO: make this text in i18n -->
        <span class="text-sm text-charcoalBlue font-medium">Soft UI Dashboard PRO</span>
    </a>
    <mat-divider />
    <ng-container>
        <!-- @for (item of sidebarItems; track $index) { -->
        <div class="menu-item">
            <div class="flex items-center justify-between cursor-pointer p-3 ml-3 rounded-xl"
                (click)="toggle(sidebarItems[0])" [ngClass]="{'shadow-sm bg-white': sidebarItems[0]}">
                <div class="flex items-center gap-x-3 w-full">
                    <div class="bg-magenta h-8 w-8 rounded-lg shadow-md"></div>
                    <h1 class="text-slateBlue text-sm font-light">{{ sidebarItems[0].title }}</h1>
                </div>
                <mat-icon [class.open]="sidebarItems[0].isExpanded">keyboard_arrow_down</mat-icon>
            </div>

            <div *ngIf="sidebarItems[0].isExpanded" class="isExpanded ml-12">
                <ng-container>
                    <ul class="ml-3 text-sm list-disc">
                        <li class="flex items-center p-2 text-charcoalBlue" [routerLink]="sidebarItems[0].link">
                            {{ sidebarItems[0].title }}
                        </li>
                    </ul>
                </ng-container>

            </div>
        </div>
        <!-- } -->
    </ng-container>
</aside>