<section class="content h-64 bg-white rounded-xl p-4 flex flex-col justify-between shadow-md">
    <div class="flex">
        <div class="flex gap-x-4 flex-1">
            <div class="cover-container h-20 w-20 rounded-lg flex items-center justify-center">
                <img class="object-cover" [ngSrc]="data().cover" width="60" height="60" alt="project-icon">
            </div>
            <div class="flex flex-col justify-evenly">
                <h1 class="text-base font-semibold text-charcoalBlue">{{data().title}}</h1>
                <div class="flex -space-x-2 overflow-hidden">
                    <img class="profile w-5 h-5 rounded-full ring-white ring-2"
                        src="assets/images/participants-covers/par1.jpg" alt="">
                    <img class="profile w-5 h-5 rounded-full ring-white ring-2"
                        src="assets/images/participants-covers/par2.jpg" alt="">
                    <img class="profile w-5 h-5 rounded-full ring-white ring-2"
                        src="assets/images/participants-covers/par3.jpg" alt="">
                    <img class="profile w-5 h-5 rounded-full ring-white ring-2"
                        src="assets/images/participants-covers/par1.jpg" alt="">
                    <img class="profile w-5 h-5 rounded-full ring-white ring-2"
                        src="assets/images/participants-covers/par2.jpg" alt="">
                    <img class="profile w-5 h-5 rounded-full ring-white ring-2"
                        src="assets/images/participants-covers/par3.jpg" alt="">
                </div>
            </div>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <span>Another action</span>
                </button>
                <button mat-menu-item>
                    <span>Action</span>
                </button>
                <button mat-menu-item>
                    <span>something else here</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <p class="text-sm text-slateBlue">{{data().description}}</p>

    <mat-divider />
    <div class="flex justify-between">
        <div class="flex flex-col text-sm">
            <p class="text-charcoalBlue">{{data().registeredParticipantCount}}</p>
            <p class="text-slateBlue">Participants</p>
        </div>
        <div class="flex flex-col text-sm">
            <p class="text-charcoalBlue">{{data().dueDate | date: 'shortDate'}}</p>
            <p class="text-slateBlue">Due date</p>
        </div>
    </div>
</section>