<section class="bg-white p-6 rounded-xl drop-shadow-md">
    @if (changePasswordCaption && passwordErrorCaption) {
    <h1 class="text-charcoalBlue font-semibold text-xl mb-9">{{changePasswordCaption.changePassword}}</h1>
    @if (fg) {
    <form class="form flex flex-col" [formGroup]="fg" (ngSubmit)="onClickSubmitButtonEventHandler()">
        <!-- Current Password Input -->
        <h2>{{changePasswordCaption.currentPassword}}</h2>
        <mat-form-field appearance="outline"
            [class.has-error]="fg.get(formKeys.currentPasswordCtrl)?.invalid && fg.get(formKeys.currentPasswordCtrl)?.touched">
            <input matInput type="password" [formControlName]="formKeys.currentPasswordCtrl"
                [placeholder]="changePasswordCaption.currentPassword">
            <mat-error *ngIf="fg.get(formKeys.currentPasswordCtrl)?.hasError('required')">
                {{ passwordErrorCaption.passwordRequiredError }}
            </mat-error>
            <mat-error *ngIf="fg.get(formKeys.currentPasswordCtrl)?.hasError('minlength')">
                {{ passwordErrorCaption.passwordMinLengthError }}
            </mat-error>
        </mat-form-field>

        <h3>{{changePasswordCaption.newPassword}}</h3>
        <!-- New Password Input -->
        <mat-form-field appearance="outline"
            [class.has-error]="fg.get(formKeys.newPasswordCtrl)?.invalid && fg.get(formKeys.newPasswordCtrl)?.touched">
            <input matInput type="password" [formControlName]="formKeys.newPasswordCtrl" placeholder="New Password">
            <mat-error *ngIf="fg.get(formKeys.newPasswordCtrl)?.hasError('required')">
                {{ passwordErrorCaption.passwordRequiredError }}
            </mat-error>
            <mat-error *ngIf="fg.get(formKeys.newPasswordCtrl)?.hasError('minlength')">
                {{ passwordErrorCaption.passwordMinLengthError }}
            </mat-error>
            <mat-error *ngIf="fg.get(formKeys.newPasswordCtrl)?.hasError('passwordStrength')">
                {{ passwordErrorCaption.passwordStrengthError }}
            </mat-error>
        </mat-form-field>

        <h4>{{changePasswordCaption.confirmPassword}}</h4>
        <!-- Confirm New Password Input -->
        <mat-form-field appearance="outline"
            [class.has-error]="fg.get(formKeys.confirmNewPasswordCtrl)?.invalid && fg.get(formKeys.confirmNewPasswordCtrl)?.touched">
            <input matInput type="password" [formControlName]="formKeys.confirmNewPasswordCtrl"
                placeholder="Confirm New Password">
            <mat-error *ngIf="fg.get(formKeys.confirmNewPasswordCtrl)?.hasError('required')">
                {{ passwordErrorCaption.passwordRequiredError }}
            </mat-error>
            <mat-error *ngIf="fg.hasError('passwordMismatch') && fg.get(formKeys.confirmNewPasswordCtrl)?.touched">
                {{ passwordErrorCaption.passwordMismatchError }}
            </mat-error>
        </mat-form-field>
        <div class="flex flex-wrap justify-between items-end mt-6">
            <!-- Password Requirements -->
            <div>
                <div class="flex flex-col gap-y-2 mb-5">
                    <h5 class="text-charcoalBlue font-semibold text-xl">{{changePasswordCaption.passwordRequirements}}
                    </h5>
                    <p class="text-base text-slateBlue">{{changePasswordCaption.strongPasswordGuide}}:</p>
                </div>
                <ul class="flex flex-col gap-y-2 list-disc ml-5 text-slateBlue text-sm">
                    <li>{{changePasswordCaption.specialCharacters}}</li>
                    <li>{{changePasswordCaption.minCharacters}}</li>
                    <li>{{changePasswordCaption.oneNumber}}</li>
                    <li>{{changePasswordCaption.changeOften}}</li>
                </ul>
            </div>

            <!-- Submit Button -->
            <button class="mt-9 w-44 ml-auto" type="submit" [disabled]="fg.invalid" mat-flat-button>
                <p>{{changePasswordCaption.updatePassword | uppercase}}
                </p>
            </button>
        </div>

    </form>
    }
    }
</section>