<section class="bg-ghostWhite">
    @if (changePasswordCaption) {
    <h1 class="text-charcoalBlue font-semibold text-xl my-4">{{changePasswordCaption.changePassword}}</h1>
    @if (fg) {
    <form class="form flex flex-col gap-y-10 w-full" [formGroup]="fg" (ngSubmit)="onClickSubmitButtonEventHandler()">
        <!-- Current Password Input -->
        <h2>{{changePasswordCaption.currentPassword}}</h2>
        <mat-form-field appearance="outline">
            <input matInput type="password" [formControlName]="formKeys.currentPasswordCtrl"
                [placeholder]="changePasswordCaption.currentPassword">
            <mat-error *ngIf="fg.get(formKeys.currentPasswordCtrl)?.hasError('required')">
                {{ passwordErrorCaption?.passwordRequiredError }}
            </mat-error>
            <mat-error *ngIf="fg.get(formKeys.currentPasswordCtrl)?.hasError('minlength')">
                {{ passwordErrorCaption?.passwordMinLengthError }}
            </mat-error>
        </mat-form-field>

        <h2>{{changePasswordCaption.newPassword}}</h2>
        <!-- New Password Input -->
        <mat-form-field appearance="outline">
            <input matInput type="password" [formControlName]="formKeys.newPasswordCtrl" placeholder="New Password">
            <mat-error *ngIf="fg.get(formKeys.newPasswordCtrl)?.hasError('required')">
                {{ passwordErrorCaption?.passwordRequiredError }}
            </mat-error>
            <mat-error *ngIf="fg.get(formKeys.newPasswordCtrl)?.hasError('minlength')">
                {{ passwordErrorCaption?.passwordMinLengthError }}
            </mat-error>
            <mat-error *ngIf="fg.get(formKeys.newPasswordCtrl)?.hasError('passwordStrength')">
                {{ passwordErrorCaption?.passwordStrengthError }}
            </mat-error>
        </mat-form-field>

        <h3>{{changePasswordCaption.confirmPassword}}</h3>
        <!-- Confirm New Password Input --><mat-form-field appearance="outline">
            <input matInput type="password" [formControlName]="formKeys.confirmNewPasswordCtrl"
                placeholder="Confirm New Password">
            <mat-error *ngIf="fg.get(formKeys.confirmNewPasswordCtrl)?.hasError('required')">
                {{ passwordErrorCaption?.passwordRequiredError }}
            </mat-error>
            <mat-error *ngIf="fg.hasError('passwordMismatch') && fg.get(formKeys.confirmNewPasswordCtrl)?.touched">
                {{ passwordErrorCaption?.passwordMismatchError }}
            </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button class="mt-9" type="submit" [disabled]="fg.invalid" mat-raised-button>
            Update Password
        </button>
    </form>
    }
    }
</section>