.form {

    h2,
    h3,
    h4 {
        font-size: .75rem;
        font-weight: 700;
        margin-bottom: .5rem;
        color: #344767;
        margin-left: .25rem;
    }

    mat-form-field {
        font-family: 'Open Sans', sans-serif;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #495057;
        transition: margin-bottom 0.3s ease;

        &.has-error {
            margin-bottom: 2.8rem;
        }
    }

    mat-error {
        font-size: .75rem;
        color: red;
        font-family: 'Open Sans', sans-serif;
    }

    button {
        background: linear-gradient(to bottom right, #373d69, #16192b);

        p {
            letter-spacing: -.025rem;
            color: white;
            font-size: 12px;
        }
    }
}