.form {

    h2,
    h3,
    h4 {
        font-size: .75rem;
        font-weight: 700;
        margin-bottom: .5rem;
        color: #344767;
        margin-left: .25rem;
    }

    button {
        background: linear-gradient(to bottom right, #373d69, #16192b);
        border-radius: .5rem;
        transition: transform 0.3s;

        p {
            letter-spacing: .005rem;
            color: white;
            font-size: 12px;
            font-weight: 700;
        }

        &:hover {
            transform: scale(1.03);
        }
    }
}