@if (captions) {
<section class="flex flex-col min-h-screen gap-y-4 justify-center max-w-[18rem] mx-auto font-open-sans">
    <h1 class="font-bold text-charcoalBlue text-2xl">{{captions.signIn}}</h1>
    <h2 class="font-normal text-slateBlue text-base">{{captions.enterCredentials}}</h2>

    <form class="form flex flex-col w-full max-w-[18rem] mx-auto">
        <!-- Email Input -->
        <mat-form-field appearance="outline">
            <input matInput type="email" placeholder="{{ captions.email }}">
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="{{ captions.password }}">
        </mat-form-field>

        <!-- Remember me checkbox -->
        <mat-slide-toggle class="text-charcoalBlue text-base">{{ captions.rememberMe }}</mat-slide-toggle>

        <!-- Sign in button -->
        <button class="mt-9" mat-raised-button>{{ captions.signIn | uppercase }}</button>
    </form>
    <div class="sign-up justify-center flex gap-x-1 items-center font-normal text-sm">
        <h3 class="text-slateBlue">{{captions.noAccount}}</h3>
        <h4 class="text-center">{{
            captions.signUp }}</h4>

    </div>
</section>
}