@if (captions && errorCaption && signInForm) {
<section class="lg:flex lg:flex-row lg:items-center lg:justify-between lg:h-screen">
    <div class="flex flex-col min-h-screen gap-y-4 justify-center font-open-sans px-12 md:max-w-sm md:mx-auto md:px-0">
        <h1 class="font-bold text-charcoalBlue text-2xl">{{captions.signIn}}</h1>
        <h2 class="font-normal text-slateBlue text-base">{{captions.enterCredentials}}</h2>

        <form class="form flex flex-col w-full" [formGroup]="signInForm" (ngSubmit)="onClickSubmitButtonEventHandler()">
            <!-- Email Input -->
            <mat-form-field appearance="outline">
                <input matInput type="email" [formControlName]="formKeys.emailCtrl" placeholder="{{ captions.email }}">

                <mat-error *ngIf="signInForm.get(formKeys.emailCtrl)?.hasError('required')">
                    {{ errorCaption.emailRequiredError }}
                </mat-error>
                <mat-error *ngIf="signInForm.get(formKeys.emailCtrl)?.hasError('email')">
                    {{ errorCaption.emailInvalidError }}
                </mat-error>
            </mat-form-field>

            <!-- Password Input -->
            <mat-form-field appearance="outline">
                <input matInput type="password" [formControlName]="formKeys.passwordCtrl"
                    placeholder="{{ captions.password }}">

                <mat-error *ngIf="signInForm.get(formKeys.passwordCtrl)?.hasError('required')">
                    {{ errorCaption.passwordRequiredError }}
                </mat-error>
                <mat-error *ngIf="signInForm.get(formKeys.passwordCtrl)?.hasError('minlength')">
                    {{ errorCaption.passwordMinLengthError }}
                </mat-error>
            </mat-form-field>

            <!-- Remember me slide toggle -->
            <mat-slide-toggle class="text-charcoalBlue text-base" [formControlName]="formKeys.rememberCtrl">{{
                captions.rememberMe
                }}</mat-slide-toggle>

            <!-- Sign in button -->
            <button class="mt-9" type="submit" [disabled]="signInForm.invalid" mat-raised-button>{{ captions.signIn |
                uppercase
                }}</button>
        </form>
        <div class="sign-up justify-center flex gap-x-1 items-center font-normal text-sm">
            <h3 class="text-slateBlue">{{captions.noAccount}}</h3>
            <a class="text-center cursor-pointer" (click)="onClickSignUpEventHandler()">{{
                captions.signUp }}</a>

        </div>
    </div>
    <div class="relative h-full w-1/2 hidden lg:block">
        <img class="p-3 rounded-[1.7rem] h-full object-cover" ngSrc="assets/images/bb.jpg" fill alt="background"
            priority>
        <div class="absolute inset-0 flex flex-col items-center justify-center">
            <div class="w-1/2 h-3/5">
                <img class="scale-50 object-cover" ngSrc="assets/images/chat.png" fill alt="chat">
            </div>
            <div class="flex flex-col items-center justify-center px-20 gap-y-4 text-white text-center">
                <h5 class="font-extrabold text-2xl">"{{captions.attentionCurrency}}"</h5>
                <p class="font-semibold text-base">{{captions.writingEffort}}</p>
            </div>
        </div>
    </div>
</section>
}