.content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #344767;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    p {
        color: #67748E;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}