@if (twoFactorMainCaption && twoFactorActionCaption && twoFactorAuthItem) {
<section class="content flex flex-col gap-y-6 bg-white rounded-2xl p-6 drop-shadow-md">
    <div class="flex justify-between items-center">
        <h1 class="text-charcoalBlue text-xl font-semibold">{{twoFactorMainCaption.title}}</h1>
        @if (twoFactorAuthItem.twoFactorAuthEnabled) {
        <p class="py-1 px-3 bg-paleGreen text-lawnGreen font-bold text-xs rounded-lg">
            {{twoFactorMainCaption.statusEnabled |
            uppercase}}</p>
        }
        @else {
        <p class="py-1 px-3 bg-paleRed text-crimsonRed font-bold text-xs rounded-lg">
            {{twoFactorMainCaption.statusDisabled |
            uppercase}}</p>
        }
    </div>
    <app-two-factor-action [title]="twoFactorActionCaption.SecurityKeyLabel"
        [data]="twoFactorAuthItem.securityKey || twoFactorActionCaption.noKeys"
        [buttonCaption]="twoFactorAuthItem.securityKey ? twoFactorActionCaption.editButton : twoFactorActionCaption.addButton"
        (clickButtonEvent)="onClickChangeSecurityKeyEventHandler()" />
    <mat-divider />
    <app-two-factor-action [title]=" twoFactorActionCaption.smsLabel"
        [data]="twoFactorAuthItem.smsNumber || twoFactorActionCaption.notConfided"
        [buttonCaption]="twoFactorAuthItem.smsNumber ? twoFactorActionCaption.editButton : twoFactorActionCaption.addButton"
        (clickButtonEvent)="onClickChangePhoneNumberEventHandler()" />
    <mat-divider />
    <app-two-factor-action [title]="twoFactorActionCaption.authLabel"
        [data]="twoFactorAuthItem.authenticator || twoFactorActionCaption.notConfided"
        [buttonCaption]="twoFactorAuthItem.authenticator ? twoFactorActionCaption.editButton : twoFactorActionCaption.setupButton"
        (clickButtonEvent)="onClickAuthenticatorEventHandler()" />
</section>
}