@if (caption) {
<div class="content" [formGroup]="form()">
    <mat-form-field class="w-full" appearance="outline"
        [ngStyle]="{'margin-bottom': form().get(controlName())?.invalid && form().get(controlName())?.touched ? marginHeight() : '0'}">
        <input matInput type="password" [formControlName]="controlName()" [placeholder]="passwordPlaceHolderCaption()">

        <mat-error *ngIf="form().get(controlName())?.hasError('required')">
            {{caption.passwordRequiredError}}.
        </mat-error>
        <mat-error *ngIf="form().get(controlName())?.hasError('minlength')">
            {{caption.passwordMinLengthError}}.
        </mat-error>
        <mat-error *ngIf="form().get(controlName())?.hasError('passwordStrength')">
            {{caption.passwordStrengthError}}.
        </mat-error>

        <mat-hint
            *ngIf="form().hasError('passwordMismatch') && controlName() === formKeys.confirmNewPasswordCtrl && form().get(controlName())?.touched">
            {{caption.passwordMismatchError}}.
        </mat-hint>
    </mat-form-field>
</div>
}