<div class="form" [formGroup]="form()">
    <mat-form-field class="w-full" appearance="outline"
        [ngStyle]="{'margin-bottom': form().get(controlName())?.invalid && form().get(controlName())?.touched ? marginHeight() : '0'}">
        <input matInput type="password" [formControlName]="controlName()" placeholder="Password">

        <mat-error *ngIf="form().get(controlName())?.hasError('required')">
            Password is required.
        </mat-error>
        <mat-error *ngIf="form().get(controlName())?.hasError('minlength')">
            Password must be at least 6 characters long.
        </mat-error>
        <mat-error *ngIf="form().get(controlName())?.hasError('passwordStrength')">
            Password is not strong enough.
        </mat-error>

    </mat-form-field>
    <!-- Only show password mismatch error for confirmNewPasswordCtrl -->
    <mat-error class="ml-4"
        *ngIf="form().hasError('passwordMismatch') && controlName() === formKeys.confirmNewPasswordCtrl && form().get(controlName())?.touched">
        Passwords do not match.
    </mat-error>
</div>