.content {
    button {
        border-color: #344767;
        color: #344767;
        border-radius: .5rem;
        min-width: 5rem;
        letter-spacing: -.025rem;
        font-size: 12px;
    }
}