@if (profileData) {
<div class="content flex justify-center h-80 relative">
    <img class="object-cover rounded-2xl w-full" src="assets/images/p1.jpg" alt="background">

    <div class="absolute bottom-[-3rem] right-0 flex justify-center w-full">
        <div class="gradient-bg w-[90%] py-4 bg-charcoalBlue rounded-2xl shadow-md backdrop-blur-lg">
            <div class="flex flex-wrap justify-center items-center gap-x-6 h-full md:justify-start md:ml-4">
                <img class="rounded-xl" [ngSrc]="profileData.cover" height="74" width="74" alt="profile-cover">
                <div class="flex flex-col gap-y-1">
                    <div class="flex gap-x-1 font-semibold text-lg text-charcoalBlue">
                        <h1>{{profileData.fistName}}</h1>
                        <h2>{{profileData.lastName}}</h2>
                    </div>
                    <h3 class="text-sm text-slateBlue">{{profileData.role}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
}