<aside class="content hidden lg:flex lg:flex-col lg:p-5">
    <section class="flex flex-col flex-1 overflow-scroll">
        <a class="flex gap-x-2 justify-center items-center p-6 cursor-pointer">
            <img class="object-cover w-8 h-8" src="assets/images/s1.png" width="200" height="200" alt="logo">
            <span class="text-sm text-charcoalBlue font-medium">{{caption().title}}</span>
        </a>
        <mat-divider />

        @for (section of data(); track $index) {
        <div class="menu-item">
            <h2 *ngIf="section.sectionTitle" class="ml-3 p-4 text-xs text-slateBlue font-semibold">
                {{ section.sectionTitle }}
            </h2>
            @for (item of section.items; track $index) {
            <div *ngIf="item.title" class="flex items-center justify-between cursor-pointer p-3 ml-3 rounded-lg"
                (click)="toggleHandler(item)" activeMenuDir [itemTitle]="item.title.toLocaleLowerCase()"
                [routerLink]="item.link">
                <div class="flex items-center gap-x-3 w-full">
                    <div class="icon-container h-8 w-8 rounded-lg shadow-md flex items-center justify-center">
                        <mat-icon class="title-icon">{{item.icon}}</mat-icon>
                    </div>
                    <h1 class="text-sm text-slateBlue">{{ item.title }}</h1>
                </div>
                <mat-icon class="arrow-icon" *ngIf="item.children"
                    [class.open]="item.isExpanded">keyboard_arrow_down</mat-icon>
            </div>
            <div *ngIf="item.children" [@expandCollapse]="item.isExpanded ? 'expanded' : 'collapsed'" class="ml-3">
                @for (child of item.children; track $index) {
                <app-sidebar-child-item [child]="child" [parentIsExpanded]="item.isExpanded" [level]="0"
                    [routerLink]="child.link" />
                }
            </div>
            }
        </div>
        }
        <div class="help-section rounded-xl mt-6 shadow-md w-[95%] h-44 flex flex-col justify-between py-2">
            <div class="h-8 w-8 ml-4 rounded-lg shadow-md bg-white flex justify-center items-center">
                <mat-icon class="title-icon">diamond</mat-icon>
            </div>
            <div class="flex flex-col items-start justify-center ml-4 text-white">
                <p>{{caption().help}}</p>
                <p class="text-xs">{{caption().checkDocs}}</p>
            </div>
            <div class="w-full flex justify-center">
                <button class="w-[90%]" (click)="onClickDocumentationButtonEventHandler()" mat-flat-button>
                    <p class="tracking-tight text-xs">{{caption().docs | uppercase}}</p>
                </button>
            </div>
        </div>
    </section>
</aside>